/* if the viewport is equal to 340px or less than that */ 
@media only screen and (max-width: 340px){
     h4
    {
        padding: 2%;
        margin: 0%;
    }
}

/* if the viewport is equal to 340px or less than that */



/* if the viewport is equal to 1910px or less than that */ 
@media only screen and (max-width: 1910px){

    .container{
        max-width: 90%;
    }
}

/* Added Responsive Media Query */

    @media only screen and (max-width: 576px) {
        .banner h1 {
            font-size: 1.8rem;
        }

        .banner h3 {
            font-size: 1rem;
        }

        .card {
            margin-bottom: 15px;
        }
    }
    
/* Additional Media Queries for Smaller Screens */
@media only screen and (max-width: 576px) {
    .banner-image {
        max-width: 90%; /* Reduce max width on smaller screens */
    }
}