/* Global Classes */

/* Styling of fonts, and uppercases */


.text-capitalize {
    text-transform: capitalize !important;
}

/* Animations & transitions */
@keyframes fixheader {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0%);
    }
}


    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}


    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
