/* Global Classes */

/* Styling of fonts and uppercases */
.text-capitalize {
    text-transform: capitalize !important;
}

/* Animations & transitions */
@keyframes fixheader {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0%);
    }
}

/* Example of another animation if needed */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
